body {
    background-color: black;
}

#infobar {
    min-height: 2.5em;
}

#infobar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Helvetica"
}

#infobar li {
    display: inline;
    margin: 0px 10px;
    white-space: nowrap;
}

#infobar select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0px 10px;
    color: white;
    background-color:rgba(255, 255, 255, 0.5);
    border: none;
    font-size: 1em;
    border-radius: 3px;
    padding: 0px 5px 0px 10px;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #3567cc;
}
